# Problema

1-	Escolha aleatoriamente 50 números e utilizando a fórmula [ k=1+(3,32*logN)+ln N ] para o número de classes construa uma distribuição de frequência. OBS. COMO OS NÚMEROS SÃO ALEATÓRIOS NÃO PODERÁ TER PROVAS IGUAIS, CASO ISSO OCORRA AS DUAS SERÃO ZERADAS (2,0 pontos)

2-	Calcule a média aritmética da distribuição que você criou na questão 1; (2,0 pontos)

3-	Calcule a Mediana da distribuição criada acima (2,0 pontos)

4-	Calcule o 1º e 3º quartil da distribuição acima (2,0 pontos)

5-	Com os números que você escolheu construa um Boxplot.  (2,0 pontos)

# Import

In [1]:
import scipy.stats              #importando a biblioteca scipy
import math                     #importando a biblioteca math
import random                   #importando a biblioteca random
import numpy  as np             #importanto a biblioteca numpy
import pandas as pd             #importando a biblioteca pandas
import matplotlib.pyplot as plt #importando a biblioteca matplotlib

## 1.1 - Escolhendo 50 números aleatórios entre 1 e 500

In [49]:
amostra = np.random.randint(1,500,(1,50))

In [50]:
amostra = amostra[0]

In [51]:
amostra = amostra.tolist()

In [52]:
amostra = sorted(amostra)

## 1.2 - Distribuição de frenquência

In [5]:
df = pd.DataFrame(np.array(amostra).reshape(50,1), columns = list("A")) # Transformando lista em pandas dataframe

In [6]:
df.head()                    # visualizando os 5 primeiros dados

     A
0  207
1  108
2  231
3  125
4  219

In [7]:
df = df.sort_values(by = "A", ascending=True) # organizando os elementos da coluna única "A"

In [8]:
df['fi'] = '-'

## 1.3 - Número de classes

In [9]:
# fórmula k = 1+(3,32*logN)+ln N


k = 1+(3.32*math.log10(50)) + np.log(50)

In [10]:
k

10.552603419823727

In [11]:
k = round(k) #arredondando

In [12]:
k

11

## 1.4 - Distribuição de frequências

In [13]:
# Amplitude dos dados = Valor maior dos registros - menor valor
at = df['A'].max() - df['A'].min()

In [14]:
at

472

In [15]:
# Amplitude dos intervalos

ai = at/k

In [16]:
ai = math.ceil(ai) # Arredondamento para cima
ai

43

In [28]:
amplitudeintervalostxt  = []
# Menor valor da série
menor = round(df['A'].min(),1)

# Menor valor somado a amplitude
menor_amp = round(menor+ai,1)

valor = menor

while valor < df['A'].max():
    amplitudeintervalostxt.append('{} - {}'.format(round(valor,1),round(valor+ai,1)))
    valor = valor + ai

In [29]:
amplitudeintervalostxt

['21 - 64',
 '64 - 107',
 '107 - 150',
 '150 - 193',
 '193 - 236',
 '236 - 279',
 '279 - 322',
 '322 - 365',
 '365 - 408',
 '408 - 451',
 '451 - 494']

In [34]:
amplitudeintervaloslist = []
intervalo       = []

primeirotermo = round(df['A'].min(),1)
segundotermo  = primeirotermo + ai
intervalo.append(primeirotermo)
intervalo.append(segundotermo)
amplitudeintervaloslist.append(intervalo)

for i in range(len(amplitudeintervalostxt) - 1):
    amplitudeintervaloslist.append([])
    amplitudeintervaloslist[i+1].append(amplitudeintervaloslist[i][-1])
    amplitudeintervaloslist[i+1].append(amplitudeintervaloslist[i][-1]+ai)

In [35]:
amplitudeintervaloslist

[[21, 64],
 [64, 107],
 [107, 150],
 [150, 193],
 [193, 236],
 [236, 279],
 [279, 322],
 [322, 365],
 [365, 408],
 [408, 451],
 [451, 494]]

In [30]:
amplitudeintervalostxt = np.array(amplitudeintervalostxt)

In [31]:
df2 = pd.DataFrame(amplitudeintervalostxt, columns =['amplitude_intervalos'])

In [32]:
df2

   amplitude_intervalos
0               21 - 64
1              64 - 107
2             107 - 150
3             150 - 193
4             193 - 236
5             236 - 279
6             279 - 322
7             322 - 365
8             365 - 408
9             408 - 451
10            451 - 494

In [54]:
provasnointervalolist = [[]]
copiaamostra = amostra[:]

end = False

for j in range(len(amplitudeintervaloslist)):
    while copiaamostra[0] < amplitudeintervaloslist[j][-1] and end == False:
        provasnointervalolist[j].append(copiaamostra[0])
        if len(copiaamostra) > 1:
            del copiaamostra[0]
        elif len(copiaamostra) == 1:
            end = True
    else:
        provasnointervalolist.append([])
        if end == True:
            del provasnointervalolist[-1]

In [55]:
provasnointervalolist

[[17, 17, 25, 34, 57],
 [71, 84, 90, 100, 100],
 [115, 116, 120, 124, 130, 142],
 [153, 155, 160, 172],
 [197, 216, 221],
 [252, 265, 274],
 [282, 284, 295, 295, 302, 303],
 [326, 340, 350, 359],
 [369, 372, 378, 389, 399],
 [435, 439, 444, 447],
 [453, 460, 469, 473, 475]]

In [60]:
df2['provas_intervalo'] = provasnointervalolist

In [61]:
df2

   amplitude_intervalos                provas_intervalo
0               21 - 64            [17, 17, 25, 34, 57]
1              64 - 107          [71, 84, 90, 100, 100]
2             107 - 150  [115, 116, 120, 124, 130, 142]
3             150 - 193            [153, 155, 160, 172]
4             193 - 236                 [197, 216, 221]
5             236 - 279                 [252, 265, 274]
6             279 - 322  [282, 284, 295, 295, 302, 303]
7             322 - 365            [326, 340, 350, 359]
8             365 - 408       [369, 372, 378, 389, 399]
9             408 - 451            [435, 439, 444, 447]
10            451 - 494       [453, 460, 469, 473, 475]